.block-2{
    height: 200px;
    width: 200px;
  	background-color: gray;
    margin: 20px;
    flex-direction: column;
}

.friendName{
    text-align: center;
    align-items: center;
}
/*#box-container{
	display: flex;
	flex-wrap: wrap;
}*/
